
main
{ 
  font-family: 'Work Sans', sans-serif;
    width: 1200px;
    padding: 0 10px 10px 10px;
    margin: 0 auto;
   
}
/* nav */


#nav-bar
{
width:1200px;
height:100px;
background-color:#9abe50;
}

#nav-bar ul
{
list-style-type: none;
display: flex;
flex-direction: row;
float: right;
}


#nav-bar ul li
{
margin-top: 22px;

}

#nav-bar ul li a
{
display: block;
color: white;
font-size: 1em;
text-decoration: none;
padding: 10px;
margin-right: 30px;
letter-spacing: 0.5px;
cursor: pointer;
}

#nav-bar ul li a:hover
{
color:#9abe50;
background-color: white;
border-radius: 10px;
-webkit-transition: all 0.5 linear;
-o-transition: all 0.5 linear;
-moz-transition: all 0.5 linear;
transition: all 0.5 linear;
}

#logo
{

width: 180px;
height: 200px;
   float: left;
   padding-left: 50px;
   position: absolute;
   z-index: 1;  
}


/* Nav ends */

.h3_Link
{
margin-top: 50px;
text-align: center;
font-size: 3em; 
color: #666666;
}

.Text_Link1{
text-align: center;
font-size: 2em;
color:#9bbe4b;
}


/* header */

#contact-info
{
width: 1200px;
margin-top: 100px;
display:flex;
flex-direction: row;
}

/*--start-map--*/
.map iframe
{
	width:500px;
	height:350px;
}
/*--end-map--*/


/* bunch of divs Tom how did you do that haha*/

#address
{
margin-left: 140px;

}
.address h6 {
	color:#9bbe4b;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.6em;
	margin: 1em 0;
}
.address span {
	display: block;
}
.address p{
	color: #9bbe4b;
	font-size: 16px;
	margin: 1em 0px;
	line-height: 1.6em;
}
.address p a{
	color: #858585;
	font-size: 16px;
	margin: 1em 0px;
	line-height: 1.6em;
}
.address p a:hover{
	color: #fb7802;
	text-decoration:none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-o-transition: 0.5s all;
	
}
.address h4 {
	color:#5d7032;
	font-size: 1.5em;
	font-weight: 700;
	margin: 0;
}
/* section ends*/


.meeting-box
{
text-align: center;
margin-top: 50px;
}

.meeting-box h3
{
font-size: 2em;
color: #666666;
}


.meeting-box p {
color: #9bbe4b;
margin-top: 15px;

}



/*Tom did haha*/

.contact-text input[type="text"],.contact-textarea textarea,.contact-but input[type="submit"],.reply input[type="text"],.reply textarea{
	box-shadow: 0px 0px 0px 1px rgba(153, 153, 153, 0.17);
	-webkit-border-radius: 0px 0px 0px 1px rgba(153, 153, 153, 0.17);
	-moz-border-radius: 0px 0px 0px 1px rgba(153, 153, 153, 0.17);
	-o-border-radius: 0px 0px 0px 1px rgba(153, 153, 153, 0.17);
	-ms-border-radius: 0px 0px 0px 1px rgba(153, 153, 153, 0.17);
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	-ms-border-radius: 0.3em;
	margin-left: 10px;
}
.contact-text input[type="text"] {
	width: 29%;
	color: #898888;
	outline: none;
	font-family: 'Work+Sans', sans-serif;
	font-size: 16px;
	padding: 10px 10px;
	margin-bottom: 1em;
	border: solid 1px #D5D4D4;
	-webkit-appearance: none;
}
.contact-textarea textarea {
	resize: none;
	width: 1100px;
	color: #898888;
	font-size: 16px;
	outline: none;
	padding: 10px 10px;
	margin-left: 20px;
	border: solid 1px #D5D4D4;
	min-height: 12em;
	-webkit-appearance: none;
}
.contact-but input[type="submit"] {
	border: none;
	outline: none;
	color: #fff;
	background: #31353e;
	padding: 10px 20px;
	font-size: 18px;
	font-weight: 600;
	margin-top: 1.5em;
	-webkit-appearance: none;
	margin-bottom: 100px;
}
.contact-but input[type="submit"]:hover{
	background: #fb7802;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.contact-text {
	margin-top: 3em;
}
.contact-but {
	text-align: center;
}
.contact-textarea {
	margin-top: 10px;
}




/***** footer *****/

#footer
{
width:1200px;
height:70px;
background-color:#9abe50;
display: flex;
flex-direction: row;
}

#footerlogo
{
padding-top:10px;
padding-left: 15px;
width: 155px;
height: 60px;
}

.ft1
{
width:520px;
margin-left: -13px;
list-style-type: none;
display: flex;
flex-direction: row;



}


.ft1 li
{
margin-top: 15px;
padding: 2px;

}

.ft1 li a
{
display: block;
color: white;
padding: 10px;
font-size: 0.9em;
text-decoration: none;
letter-spacing: 0.5px;
cursor: pointer;
}

.ft1 li a:hover
{
color:#9abe50;
background-color: white;
border-radius: 13px;
-webkit-transition: all 0.5 linear;
-o-transition: all 0.5 linear;
-moz-transition: all 0.5 linear;
transition: all 0.5 linear;
}


.ft2
{
width:270px;
margin-top: 10px;
margin-left: 250px;
list-style-type: none;
display: flex;
flex-direction: row;


}

.ft2 li
{
margin-top: 10px;
padding-right: 15px;
justify-content: space-evenly;
}

.ft2 li a
{
display: block;
color: white;
text-decoration: none;
cursor: pointer;
}